/*/*

# The above pattern doesn't match submodules
/bitsery
/function2
/tomlplusplus
/vst3

# And we obviously don't want to ignore our overlays
!/packagefiles/bitsery
!/packagefiles/function2
!/function2-patch/*
